.btn-volver-proyect{
    margin:5px;
    background-color: #3498db;
    padding: 0.5em 1.5em;
    font-size:1.5em;
    color:#fff;
    outline:none;
    border:none;
    border-radius: 1.8em 0 1.5em 0;
    cursor: pointer;
    transition: transform 0.2s; box-shadow: 0.2s;
    
}
.btn-volver-proyect:hover{
    transform: translateY(-5px);
    box-shadow:0 5px 5px #00000040;
    box-shadow:  0 0 30px rgba(126, 126, 126, 0.94);
}
.btn-volver-proyect a{
    text-decoration: none;
    color: black;
}


